# Pliki wynikowe i binarne
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.dylib

# Katalogi build
build/
Build/
cmake-build-debug/
cmake-build-release/

# Pliki generowane przez IDE
.idea/
.vscode/
*.code-workspace

# Pliki tymczasowe i systemowe
*.tmp
*.temp
*.log
*.bak
*.swp
*.DS_Store
Thumbs.db

# Pliki Makefile/CMakeCache
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Pliki testowe
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata

# Inne pliki i katalogi
*.tlog
*.ipch
*.pch
*.aps
*.ilk
*.pdb

# Konfiguracje u¿ytkownika
*.user
*.run.xml
*.ncb
*.suo
*.sdf
*.opendb
*.VC.db

# Pliki wirtualnych œrodowisk
.vagrant/
